@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Palindrome Checker</h1>
</div>
<div class="row">
    <div class="col-md-16">
        <h2>Welcome to Palindrome Checker</h2>
        <p>
            Palindrome checker provides to validate if the string is palindrome or not
            and it lists out all the persisted palindromes.
        </p>
    </div>
</div>